html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    min-height: 100%;
    touch-action: none;
}
body {
    background-color: white;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    margin:0;
    background-attachment: fixed;
}

body, html { height: 100%; }

div#content {
    height:100%;
    width: 100%;
    }

 @font-face { font-family: Yessy; src: url('./assets/font/yessy.otf'); } 

 .container {
    scroll-snap-align: start;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    margin:0;
    display: inline-flex;
    width: 100%;
    height: 100vh;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.container::before {
    opacity: 10%;
    content: "";
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    background-image: url('./assets/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter:grayscale(1) blur(3px)
} 
.container2 {
    scroll-snap-align: start;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    margin:0;
    display: inline-flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.container2::before {
    opacity: 10%;
    content: "";
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    background-image: url('./assets/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter:grayscale(1) blur(3px)
} 
.container3 {
    scroll-snap-align: start;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    margin:0;
    display: inline-flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow-x: hidden;
}
.container3::before {
    opacity: 10%;
    content: "";
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    background-image: url('./assets/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter:grayscale(1) blur(3px)
} 
.overlay {
    position: fixed;
    vertical-align: middle;
    text-align: center;
    margin:0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-image: url('flakes.png');
    background-color: transparent;
    z-index: 4;
    transform: translateZ(5) scale(1);
}
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth
}

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--back {
    background-image: url('./assets/paralax.png');
    background-size: contain;
    transform: translateZ(-5px) scale(6);
    background-position: top center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
.parallax__layer--base {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-x: scroll;
    -ms-overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    transform: translateZ(0);
}
.parallax__layer--foreward {
    background-image: url('flakes.png');
    transform: translateZ(-2) scale(1);
}
  .parallax__layer--deep {
    background-image: url('04.png');
    transform: translateZ(-8px) scale(5);
    width: 300%;
    height: 300%;
    opacity: 0.5;
  }
.parallax__layer--deeper {
    background-image: url('flowers2.png');
    /*transform: translateZ(-7px) scale(10);*/
    width: 100%;
    height: 100%;
    opacity: 1;
    background-position: center right;
}

.pagetext {
    width: 90vw;
    height: 90%;
    margin: auto;
    background-image: url('pageold.png');
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.pagetext p {
    text-align: left;
    padding: 5% 5% 0% 5%;
    font-size: 8px;
    font-family: 'Damion', cursive;
    font-size: 20px;
    font-weight: 200;
    color: black;
}

.textcont {
    user-select: none;
    margin: auto;
    color: white;
    line-height: 200px;
    font-family: Yessy;
    font-size: 300px;
    align-items: center;
}
.heading {
    display: block;
    color: #86b7b7;
    z-index: 3;
    line-height: 150px;
    word-wrap: break-word;
    text-shadow: 0px 4px 17px #FFFFFF;
}

.heading:first-child {
    margin-left: 65px;
}
.backimage {
    opacity: 10%;
    top: 0;
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-size: contain;
    z-index: -999;
    filter: grayscale(1) blur(3px);
}

.backimageright {
    opacity: 10%;
    top: 0;
    left: 100vw;
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 101%;
    background-size: contain;
    filter: grayscale(1) blur(3px);
}

.backimageright .first {
    top: 0;
    left: 0;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.backimageright .second {
    top: 0;
    right: 33.3%;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.backimageright .third {
    top: 0;
    right: 0;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    /*transform: rotate(180deg);*/
    user-select: none;
}

.backimageright2 {
    opacity: 10%;
    top: 0;
    left: 200vw;
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 101%;
    background-size: contain;
    filter: grayscale(1) blur(3px);
}

.backimageright2 .first {
    top: 0;
    left: 0;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.backimageright2 .second {
    top: 0;
    right: 33.3%;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.backimageright2 .third {
    top: 0;
    right: 0;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    /*transform: rotate(180deg);*/
    user-select: none;
}

.backcontainer {
    width: 100%;
    height: 100%;
}

.backimage .first {
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.backimage .second {
    top: 0;
    right: 33.3%;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.backimage .third {
    top: 0;
    right: 0;
    display:  inline-block;
    overflow: hidden;
    width: 33.3%;
    background-size: contain;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
br {
    height: 1px;    
}

.boxcont {
    user-select: none;
    margin: auto;
    color: white;
    font-family: 'Yessy';
    align-items: center;
}

.boxcontny {
    user-select: none;
    margin: auto;
    color: white;
    font-family: 'Yessy';
    align-items: center;
}

.memories {
    display: inline-block;
    width: 40vh;
    height: 40vh;
    background-color: black;
    margin: 20px;
    opacity: 0%;
}

.year {
    display: inline-block;
    width: 40vh;
    height: 40vh;
    background-color: transparent;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: white;
    z-index: 5;
    line-height: 40vh;
    font-size: 50px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.year.one {
    background-image: url('./assets/one/PSX_20180602_210024.jpg');
    background-size: contain;
    filter: grayscale(50%);
    background-position-y: center;
    opacity: 70%;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.year.one:hover {
    filter: none;
    transform: scale(1.1);
}

.year.two {
    background-image: url('./assets/two/Snapchat-647798265.jpg');
    background-size: contain;
    filter: grayscale(50%);
    background-position-y: center;
    opacity: 70%;
    object-fit: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.year.two:hover {
    filter: none;
    transform: scale(1.1);
}

.year.three {
    background-image: url('./assets/three/Snapchat-304952830.jpg');
    background-size: contain;
    filter: grayscale(50%);
    background-position-y: center;
    opacity: 70%;
    object-fit: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.year.three:hover {
    filter: none;
    transform: scale(1.1);
}

.year.ny {
    background-image: url('./assets/ny/Snapchat-1587661231.jpg');
    background-size: contain;
    filter: grayscale(50%);
    background-position-y: center;
    opacity: 70%;
    object-fit: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.year.ny:hover {
    filter: none;
    transform: scale(1.1);
}

.year.jly {
    background-image: url('./assets/three/IMG_20190706_214433.jpg');
    background-size: contain;
    filter: grayscale(50%);
    background-position-y: center;
    opacity: 70%;
    object-fit: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.year.jly:hover {
    filter: none;
    transform: scale(1.1);
}

.year.crl {
    background-image: url('./assets/crl/IMG_20200424_012915.jpg');
    background-size: contain;
    filter: grayscale(50%);
    background-position-y: center;
    opacity: 70%;
    object-fit: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    visibility: hidden;
}

.year.crl.show {
    visibility: visible;
}

.year.crl:hover {
    filter: none;
    transform: scale(1.1);
}

.memories.two {
    background-image: url('./assets/two/Snapchat-647798265.jpg');
    background-size: cover;
    filter: grayscale(90%);
    background-position-y: center;
}

.memories.three {
    background-image: url('./assets/three/Snapchat-304952830.jpg');
    background-size: cover;
    filter: grayscale(90%);
    background-position-y: center;
}

.memories.ny {
    background-image: url('./assets/ny/Snapchat-1587661231.jpg');
    background-size: cover;
    filter: grayscale(90%);
    background-position-y: center;
}

.memories.jly {
    background-image: url('./assets/three/IMG_20190706_214433.jpg');
    background-size: cover;
    filter: grayscale(90%);
    background-position-y: center;
}

.memories.crl {
    background-image: url('./assets/crl/IMG_20200424_012915.jpg');
    background-size: cover;
    filter: grayscale(90%);
    background-position-y: center;
    visibility: hidden;
    display: none;
}

.memories.crl.show {
    display: inline-block;
}

.firstpop {
    width: 85vw;
    height: 90vh;
    background-color: white;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    z-index: 5;
    border-radius: 40px;
}

.nypop {
    width: 85vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    z-index: 5;
    overflow-y: hidden;
}

.jlypop {
    width: 85vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    z-index: 5;
    overflow-y: scroll;
}

.crlpop {
    width: 85vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);
    z-index: 5;
    overflow-y: scroll;
}

.popcont {
    z-index: 6;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 0;
    align-items: center;
    visibility: hidden;
}

.popcont.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-image: url("./assets/paralax.png");
    object-fit: cover;
    background-size: contain;
}

.nycont {
    z-index: 6;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    left: 200vw;
    top: 0;
    align-items: center;
    visibility: hidden;
}

.nycont.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-image: url("./assets/paralax.png");
    object-fit: cover;
    background-size: contain;
}

.jlycont {
    z-index: 6;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    left: 200vw;
    top: 0;
    align-items: center;
    visibility: hidden;
}

.jlycont.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-image: url("./assets/paralax.png");
    object-fit: cover;
    background-size: contain;
}

.crlcont {
    z-index: 6;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    left: 200vw;
    top: 0;
    align-items: center;
    visibility: hidden;
}

.crlcont.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-image: url("./assets/paralax.png");
    object-fit: cover;
    background-size: contain;
}

.close {
    position: absolute;
    top: 10vh;
    left: 10vw;
    font-size: 50px;
    z-index: 9;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
}

.imagepop {
    width: 50%;
    height: 100%;
    left: 0;
    background-size: cover;
    display: inline-block;
    object-fit: cover;
    opacity: 70%;
    border-radius: 40px 0px 0px 40px;
}

.imagepopny {
    width: 33.3%;
    left: 0;
    background-size: cover;
    display: inline-block;
    object-fit: cover;
    opacity: 70%;
    padding: 0px;
    box-sizing: border-box;
    object-fit: cover;
    filter: grayscale(0.5);
    transition: ease-in-out 0;
}

.imagepopny:hover {
    opacity: 90%;
    filter: none;
}

.thoughts {
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    float: right;
    margin: 0;
    color: #383838;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    word-wrap: break-word;
    padding-right: 20px;
    overflow-y: scroll;
    user-select: text;
}

.thoughtsnyy {
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    float: right;
    margin: 0;
    color: #383838;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    word-wrap: break-word;
    padding-right: 20px;
    overflow-y: scroll;
    user-select: text;
}

.pbreak {
    display: inline-block;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    float: right;
    margin: 0;
    white-space:normal
}

.jlypop .pbreak {
    display: inline-block;
    width: 33.3%;
    top: 0;
    bottom: 0;
    float: right;
    margin: 0;
    white-space: normal;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.memoryhead {
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: 'Yessy';
    font-size: 100px;
    margin: 0;
    color: #D4F9EF;
    z-index: 5;
    top: 25px;
    user-select: none;
    text-shadow: 0px 4px 9px #FFFFFF;
    color: #86b7b7;
}

input[type=button] {
    background-color: #D4F9EF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    width: 100%;
    height: 60px;
    font-weight: bold;
}

input[type=button]:focus {
    border: none;
    text-decoration: none;
    outline: none;
}

input[type=button]:hover {
    transform: scale(1.1);
    transition: ease-in-out .2s;
}

.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    z-index: -10;
}

.passwordform {
    z-index: 999;
    margin: auto;
    text-align: center;
}

.psal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    width: 300px;
    border: none;
    outline: none;
    font-size: 24px;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    color: white;
}

::placeholder {
    color: white;
}

img { 
    user-select: none;
}


.chevron {
    width: 10%;
    position: absolute;
    right: 0;
    aspect-ratio: 1/1;
}

.chevron img {
    width: 100%;
    position: absolute;
    right: 0;
    aspect-ratio: 1/1;
    filter: invert(1);
    opacity: 0.6;
    filter: invert(69%) sepia(37%) saturate(234%) hue-rotate(131deg) brightness(200%) contrast(90%);
}

.year {
    border-radius: 40px!important;
    pointer-events: all;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.landscape {
    display: none;
}
/* Pixel 3XL */
  @media screen 
  and (min-width: 846px)
  and (orientation: landscape) {
    .textcont {
        margin: auto;
        color: white;
        line-height: 100px;
        font-family: 'Yessy';
        font-size: 150px;
        align-items: center;
    }
    .heading {
        display: block;
        z-index: 3;
        line-height: 75px;
        word-wrap: break-word;
    }
    
    .heading:first-child {
        margin-left: 35px;
    }
    .year {
        font-size: 30px;
    }
    .thoughts {
        font-size: 19px;
    }
    .thoughtsnyy {
        font-size: 14px;
    }
    .memoryhead {
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: 'Yessy';
        font-size: 70px;
        margin: 0;
        top: 20px;
    }
    .close {
        position: absolute;
        top: 8vh;
        left: 10vw;
        font-size: 24px;
        z-index: 9;
        font-family: 'Roboto', sans-serif;
        width: 40px;
        height: 40px;
    }

    .jlypop .close {
        position: absolute;
        top: 10vh;
        right: 10vw;
        left: inherit;
        font-size: 24px;
        z-index: 9;
        font-family: 'Roboto', sans-serif;
        width: 40px;
        height: 40px;
    }
    .year.ny {
        font-size: 26px;
    }
    .imagepopny {
        width: 33.3%;
        height: 64.74%;
        left: 0;
        background-size: cover;
        display: inline-block;
        object-fit: cover;
        opacity: 70%;
        padding: 0px;
        box-sizing: border-box;
        object-fit: cover;
    }
    .nypop {
        overflow-y: scroll;
    }
    .jlypop .pbreak {
        display: inline-block;
        width: 33.3%;
        height: 64.74%;
        top: 0;
        bottom: 0;
        float: right;
        margin: 0;
        white-space: normal;
    }
}
@media screen 
and (min-width: 411px) and (max-width: 767px)
and (max-width: 767px) 
and (min-height: 846px)
and (orientation: portrait) {
    body {
        overflow-y: hidden;
    }
    .landscape {
        width: 100vw;
        height: 100vh;
        background-color: #D4F9EF;
        text-align: center;
        margin: auto;
        display: flex;
        overflow-y: hidden;
    }
    .warning {
        color: white;
        margin: auto;
    }
}


/* Pixel 4XL */ 
@media screen 
and (min-width: 411px)
and (min-height: 869px)
and (orientation: portrait) {
    body {
        overflow-y: hidden;
    }
    .landscape {
        width: 100vw;
        height: 100vh;
        background-color: #D4F9EF;
        text-align: center;
        margin: auto;
        display: flex;
        overflow-y: hidden;
    }
    .warning {
        color: white;
        margin: auto;
    }
}

@media screen 
and (min-width: 869px)
and (orientation: landscape) {
    .textcont {
        margin: auto;
        color: white;
        line-height: 100px;
        font-family: 'Yessy';
        font-size: 150px;
        align-items: center;
    }
    .heading {
        display: block;
        z-index: 3;
        line-height: 75px;
        word-wrap: break-word;
    }
    
    .heading:first-child {
        margin-left: 35px;
    }
    .year {
        font-size: 30px;
    }
    .thoughts {
        font-size: 19px;
    }
    .thoughtsnyy {
        font-size: 14px;
    }
    .memoryhead {
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: 'Yessy';
        font-size: 70px;
        margin: 0;
        top: 20px;
    }
    .close {
        position: absolute;
        top: 8vh;
        left: 10vw;
        font-size: 24px;
        z-index: 9;
        font-family: 'Roboto', sans-serif;
        width: 40px;
        height: 40px;
    }
    .year.ny {
        font-size: 26px;
    }
    .imagepopny {
        width: 33.3%;
        height: 66.49%;
        left: 0;
        background-size: cover;
        display: inline-block;
        object-fit: cover;
        opacity: 70%;
        padding: 0px;
        box-sizing: border-box;
        object-fit: cover;
    }
    .nypop {
        overflow-y: scroll;
    }
    .jlypop .pbreak {
        display: inline-block;
        width: 33.3%;
        height: 66.49%;
        top: 0;
        bottom: 0;
        float: right;
        margin: 0;
        white-space: normal;
    }
}

.memoryhead {
    position: absolute!important;
    z-index: 4;
    pointer-events: auto;
    top: 5%!important;
}

.pset {
    display: inline-block!important;
    left: 0px;
    top: 25%!important;
    width: 100%;
    height: 50%;
    vertical-align: middle;
    align-content: center;
}

.pset2 {
    display: inline-block!important;
    left: 0px;
    width: 100%;
    height: 50%;
    vertical-align: middle;
    align-content: center;
}

.popcont.show {
    z-index: 999;
}

.close {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.20);
}