/*.wrapper {
    text-align: center;
    font-family: 'Titan One', cursive;
    color: #F8FFE5;
    line-height: 100px;
    padding: 100px 20%;
    overflow: hidden;
}*/

body {
    background: #C6B7CB;
    margin: 0px;
}

.letter {
    margin: 0 auto;
    text-align: center;
    background: #C6B7CB;
    width: 100%;
    color: white;
}

pre.lettertext {
    padding: 0 10%;
    padding-bottom: 50px;
    margin: 0px;
    font-size: 19px;
    font-family: 'Kanit', sans-serif;
}

@keyframes MoveUpDown {
  0%, 100% {
    margin-top: 0;
  }
  50% {
    margin-top: 2px;
  }
}

.balloons {
    display: block;
    width: 20%;
    height: 500px;
    position: fixed;
    z-index: -1;
}


img.balloon {
    width: 15.5vw;
    height: auto;
    display: block;
    position: fixed;
    -webkit-animation: MoveUpDown 0.8s linear infinite;
    -webkit-animation-direction: alternate;
    opacity: 0.95;
}

/* h1.headingtext {
    font-size: 50px;
    display: inline-block;
    margin: 0px;
    text-shadow: 0px 5px 50px #06D6A0;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

.icingbrder {
    background-image: url(images/icing.png);
    display: block;
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    background-size: contain;
}

.cake {
    display: block;
    position: fixed;
    text-align: center;
    background-image: url(images/cakesh4_22.png);
    height: 23.1vw;
    width: 37.5vw;
    z-index: -2;
    left: 50%;
    transform: translate(-50%,3.5vw);
    background-size: cover;
}

canvas.confetti {
    position: fixed;
    display: block;
    z-index: -3!important;
    pointer-events: none;
}

canvas#confetti-canvas {
    position: fixed;
    top: 0;
    z-index: -3!important;
}

img.starburst {
    width: 100%;
    position: fixed;
    z-index: -4;
}

a.subtext {
    display: block;
    top: 0;
    margin-top: -50px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.bgstuff {
    overflow: hidden;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.happybirthday {
    display: block;
    margin: auto;
    padding: 6% 0;
    text-align: center;
}


h1 {
    font-family: "Bevan";
    top: 0;
    font-size: 5.5vw;
  font-weight: 400;
  color: #fff;
  text-align: center;
  width: 260px;
-webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  text-shadow: 
    0px 0px 0 rgb(-14,144,41),-1px 1px 0 rgb(-19,139,36),-2px 2px 0 rgb(-23,135,32),-3px 3px 0 rgb(-27,131,28),-4px 4px 0 rgb(-32,126,23),-5px 5px 0 rgb(-36,122,19),-6px 6px 0 rgb(-40,118,15),-7px 7px 0 rgb(-45,113,10),-8px 8px 0 rgb(-49,109,6),-9px 9px 0 rgb(-53,105,2),-10px 10px 0 rgb(-58,100,-3),-11px 11px 0 rgb(-62,96,-7),-12px 12px 0 rgb(-67,91,-12),-13px 13px 0 rgb(-71,87,-16),-14px 14px 0 rgb(-75,83,-20),-15px 15px 0 rgb(-80,78,-25),-16px 16px 0 rgb(-84,74,-29),-17px 17px 0 rgb(-88,70,-33),-18px 18px 0 rgb(-93,65,-38),-19px 19px 0 rgb(-97,61,-42), -20px 20px 0 rgb(-101,57,-46), -20px 5px 50px #06D6A0;  
display: inline-table;
    margin: 0px;
    line-height: 4.5vw;
    position: relative;
}
/*h1 span { position: relative }*/
h1 span:first-child { 
  z-index: 15;
}
h1 span:nth-child(2) { 
  z-index: 14;
  text-shadow:0px 0px 0 rgb(167,42,152),-1px 1px 0 rgb(162,37,147),-2px 2px 0 rgb(158,33,143),-3px 3px 0 rgb(154,29,139),-4px 4px 0 rgb(149,24,134),-5px 5px 0 rgb(145,20,130),-6px 6px 0 rgb(141,16,126),-7px 7px 0 rgb(136,11,121),-8px 8px 0 rgb(132,7,117),-9px 9px 0 rgb(128,3,113),-10px 10px 0 rgb(123,-2,108),-11px 11px 0 rgb(119,-6,104),-12px 12px 0 rgb(114,-11,99),-13px 13px 0 rgb(110,-15,95),-14px 14px 0 rgb(106,-19,91),-15px 15px 0 rgb(101,-24,86),-16px 16px 0 rgb(97,-28,82),-17px 17px 0 rgb(93,-32,78),-18px 18px 0 rgb(88,-37,73),-19px 19px 0 rgb(84,-41,69), -20px 20px 0 rgb(80,-45,65);
}
h1 span:nth-child(3) { 
  z-index: 19;
  text-shadow:0px 0px 0 rgb(42,142,167),-1px 1px 0 rgb(37,137,162),-2px 2px 0 rgb(33,133,158),-3px 3px 0 rgb(29,129,154),-4px 4px 0 rgb(24,124,149),-5px 5px 0 rgb(20,120,145),-6px 6px 0 rgb(16,116,141),-7px 7px 0 rgb(11,111,136),-8px 8px 0 rgb(7,107,132),-9px 9px 0 rgb(3,103,128),-10px 10px 0 rgb(-2,98,123),-11px 11px 0 rgb(-6,94,119),-12px 12px 0 rgb(-11,89,114),-13px 13px 0 rgb(-15,85,110),-14px 14px 0 rgb(-19,81,106),-15px 15px 0 rgb(-24,76,101),-16px 16px 0 rgb(-28,72,97),-17px 17px 0 rgb(-32,68,93),-18px 18px 0 rgb(-37,63,88),-19px 19px 0 rgb(-41,59,84), -20px 20px 0 rgb(-45,55,80), -20px 5px 50px #06D6A0;
}
h1 span:nth-child(4) { 
  z-index: 18;
  text-shadow:0px 0px 0 rgb(221,-5,59),-1px 1px 0 rgb(216,-10,54),-2px 2px 0 rgb(212,-14,50),-3px 3px 0 rgb(208,-18,46),-4px 4px 0 rgb(203,-23,41),-5px 5px 0 rgb(199,-27,37),-6px 6px 0 rgb(195,-31,33),-7px 7px 0 rgb(190,-36,28),-8px 8px 0 rgb(186,-40,24),-9px 9px 0 rgb(182,-44,20),-10px 10px 0 rgb(177,-49,15),-11px 11px 0 rgb(173,-53,11),-12px 12px 0 rgb(168,-58,6),-13px 13px 0 rgb(164,-62,2),-14px 14px 0 rgb(160,-66,-2),-15px 15px 0 rgb(155,-71,-7),-16px 16px 0 rgb(151,-75,-11),-17px 17px 0 rgb(147,-79,-15),-18px 18px 0 rgb(142,-84,-20),-19px 19px 0 rgb(138,-88,-24), -20px 20px 0 rgb(134,-92,-28), 1px 20px 50px #06D6A0;
}

h1 span:nth-child(6) { 
  z-index: 19;
  text-shadow:0px 0px 0 rgb(42,142,167),-1px 1px 0 rgb(37,137,162),-2px 2px 0 rgb(33,133,158),-3px 3px 0 rgb(29,129,154),-4px 4px 0 rgb(24,124,149),-5px 5px 0 rgb(20,120,145),-6px 6px 0 rgb(16,116,141),-7px 7px 0 rgb(11,111,136),-8px 8px 0 rgb(7,107,132),-9px 9px 0 rgb(3,103,128),-10px 10px 0 rgb(-2,98,123),-11px 11px 0 rgb(-6,94,119),-12px 12px 0 rgb(-11,89,114),-13px 13px 0 rgb(-15,85,110),-14px 14px 0 rgb(-19,81,106),-15px 15px 0 rgb(-24,76,101),-16px 16px 0 rgb(-28,72,97),-17px 17px 0 rgb(-32,68,93),-18px 18px 0 rgb(-37,63,88),-19px 19px 0 rgb(-41,59,84), -20px 20px 0 rgb(-45,55,80), 1px 20px 50px #06D6A0;
}
.o { 
  font-size: 4.5vw;
}
.e {
  padding-left: 2px;
}
p {
  font-family: "Roboto Condensed";
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-left: -8px;
}

/*.happybirthday {
    margin-top: -68px;
}*/

/*@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
      display: inline-table;
  }
    .o {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 42px;
      display: inline-table;
  }
    .o {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 42px;
      display: inline-table;
      margin: 0px;
  }
    .o {
        font-size: 120px;
            margin-left: 20px;
            margin-right: 25px;
    }
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 60px;
      display: inline-table;
      margin: 0px;
  }
    .o {
        font-size: 80px;
            margin-left: 20px;
            margin-right: 25px;
    }
}*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}


@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}


a.textglow{
    font-family:Pacifico;
    padding-bottom: 50px;
    padding-top: 25px;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
    display: block;
    font-size: 36px
}

.GlowingText {
    display: block;
}